# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Streamlit secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Env
.env
*.log